@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    color: #02FF84;
}
.card {
    position: relative;
}
.card img {
    max-height: 200px;
    object-fit: cover;
}
.badge {
    position: absolute;
    width: 100%;
    top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(-15deg);
}

.btn-success {
    background-color: #02FF84;
    color: black;
    border: none;
}

#searchBtn {
    border-color: #02FF84;
    color: #02FF84;
    background-color: black;
}

.cart-container {
    border: 1px solid #02FF84;
}

li span {
    padding: 0 5px!important;
    margin-left: 5px;
}